/* font imports  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* removing default body  margin and padding */
body{
    margin:0;
    padding:0;
    width: 100%;
}

/* styling the webpage scrollbar */
body::-webkit-scrollbar {
    width: .8em;  
}
 
body::-webkit-scrollbar-thumb {
  background-color:#3FB1B5;
  outline: none;
}

/* setting header element to a 100 viewheight  */

header{
    height:100vh;
}

/* logo styles */
nav img {
    padding:3em 0 0 5em;
}

/* navigation links styles */
nav ul{
    list-style-type: none;
    display:inline;
    margin:0;
    padding:0;
}

nav li{
    float: right;
    padding: 3em 2.5em 0 2.5em;
}

nav .links{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    font-weight:bold;
    color: #24334A;
    padding:.4em;
    border: 1px solid #ffffff;
    border-radius:15px;
}

nav .links:hover{
    border: 2px solid #e0e1e2;
     background-color :#46eaf0;
     color:#ffffff;
  
}

/* styling the hero page  */

.container{
    position:relative;
    top:10%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);

}

.description{
    margin:0;
    padding:3em;
}

.description div{
    width:80%;
    padding:2em;
}

.description p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    font-weight:bold;
    text-align: left;
    color: #24334A;
    line-height: 2em;
    letter-spacing: .125em;
}

.colored-text{
    color:#3FB1B5;
}

/* styles and animations for the call to action link */
.cta{
    position:relative;
    top:10%;
    left:3%;
}

.animate__animated.animate__wobble {
    --animate-duration: 20s;
    --animate-delay: 0.9s;
    --animate-repeat: 5;

  }

.cta a{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color:#ffffff;
    background-color: #FE5244;
    border:1px solid #FE5244;
    border-radius:20px;
    padding:.85em;
}

/* setting the main element to a 100 viewheight  */
main{
    height: 100vh;
}

/* main search component container */
.search-component{
    position: relative;
    left: 40%;
    top: 30%;
    width:40%;
}

/* styles for the text input field */
.search-field{
    width:50%;
    padding:1em;
    background-color: #FAF9F9;
    border:1px solid #FAF9F9;
    border-radius: 20px;
}

.search-field input[type="text"]{
    width:80%;
    border:1px solid #FAF9F9;
    background-color: #FAF9F9;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight:700;
    color:#24334A;
    outline:none;
}

.search-field button{
    background-color: #FAF9F9;
    color:#24334A;
    font-size: 1.5em;
    font-weight:bold;
    border:none;
    outline:none;
}

.search-field button:hover{
    cursor: pointer;
}

/* styling the search filter area */
.filter{
    margin-top:.5em;
    width:13%;
    padding:.3em;
    border: 2px solid #FE5244;
    border-radius:10px;
    font-family: 'Poppins', sans-serif;
    color:#24334A;
    font-size: .85em;
    font-weight:bold;
    text-align: center;
}

.filter-inputs{
    position:absolute;
    right:60%;
    width:45%;
    padding:0;
    margin:0;
    display:flex;
}

.filter-inputs ul{
    list-style-type: none;
}

.filter-inputs li{
    padding:0;
}

.filter-inputs .select-boxes{
    width:90%;
    border:none;
    outline:none;
    color:#24334A;
    font-family: 'Poppins', sans-serif;
    font-size: .8em;
    font-weight:bold;
    text-align: left;
    line-height: 3em;
    outline:none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filter-inputs .select-boxes:hover{
    cursor: pointer;
}

/* footer styles */

.footer{
    position:relative;
    top:80%;
    background-color:  #FE5244;
    padding:1.85em;
    text-align: center;
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight:bold;
}